<p-autoComplete
  [forceSelection]="true"
  [suggestions]="suggestions$ | async"
  [field]="field"
  [formControl]="formControl"
  (completeMethod)="onSearch($event)"
>
  <ng-template pTemplate="default">
    <p-tree
      selectionMode="single"
      [value]="filteredList$ | async"
      [emptyMessage]="emptyMessage"
      (onNodeExpand)="onStopPropagation($event)"
      (onNodeCollapse)="onStopPropagation($event)"
      (onNodeSelect)="onNodeSelect($event)">
    </p-tree>
  </ng-template>
</p-autoComplete>

